{
  "vm": {
    "name": "Brentmill VM",
    "provider": "virtualbox"
  },
  "custom_demo": {
    "structure": {
      "websites": [
        {
          "site_code": "base",
          "site_url": "brentmill.demo",
          "stores": [
            {
              "store_views": [
                {
                  "store_view_code": "default"
                }
              ]
            }
          ]
        }
      ]
    },
    "data_packs": [
      {
        "source": "git@github.com:PMET-public/vertical-data-brentmill.git"
      }
    ],
    "custom_modules": []
  },
  "application": {
    "authentication": {
      "composer": {
        "public_key": "",
        "private_key": "",
        "github_token": ""
      }
    },
    "options": {
      "version": "2.4.6"
    },
    "build": {
      "action": "force_install",
      "sample_data": false,
      "patches": true,
      "hooks": {
        "warm_cache": false,
        "backup": false
      }
    },
    "settings": {
      "admin_password": "admin4tls"
    }
  },
  "remote_machine": {
    "cpus": "2",
    "memory": "8192"
  }
}