{
	"vm": {
		"ip": "192.168.56.12",
		"name": "Luma Demo",
		"hypervisor": "virtualbox"
	},
	"custom_demo": {
		"structure": {
			"website": {
				"base": "luma.demo"
			}
		},
		"backup": "",
		"data_packs": {},
		"custom_modules": {
			"data-install": {
				"name": "magentoese/module-data-install",
				"version": "dev-beta",
				"repository_url": "https://github.com/PMET-public/module-data-install.git"
			}
		}
	},
	"application": {
		"authentication": {
			"public_key": "",
			"private_key": "",
			"github_token": ""
		},
		"options": {
			"family": "Commerce",
			"version": "2.4.2"
		},
		"build": {
			"action": "install",
			"sample_data": false,
			"patches": true,
			"hooks": {
				"warm_cache": true,
				"enable_media_gallery": true,
				"commands": []
			}
		},
		"settings": {
			"admin_password": "admin123"
		}
	},
	"infrastructure": {
		"php": "7.4",
		"composer": "latest",
		"elasticsearch": true,
		"mailhog": true,
		"samba": true
	},
	"provisioner": {
		"type": "chef_zero",
		"version": "latest",
		"nodes_path": "nodes",
		"environments_path": "environments",
		"roles_path": "roles",
		"cookbooks_path": "cookbooks"
	},
	"remote_machine": {
		"name": "Kukla-Machine",
		"box": "bento/ubuntu-18.04",
		"cpus": 2,
		"memory": 8192,
		"vram": 16
	},
	"hypervisor": {
		"vmware": {
			"gui": true,
			"linked_clones": true,
			"eth0_pcislotnumber": "32",
			"eth1_pcislotnumber": "33"
		},
		"virtualbox": {
			"gui": false,
			"linked_clones": false,
			"remote_display": "off",
			"default_nic_type": "82543GC"
		}
	},
	"vagrant": {
		"plugins": {
			"all": [
				"vagrant-hostsupdater"
			],
			"vmware": [
				"vagrant-vmware-desktop"
			],
			"virtualbox": []
		}
	}
}
