# Ignore all files in backup/
backup/*

# Ignore all other files except for specific ones
config/*
!config/config.json

# Ignore all data packs except starter in data-packs/
data-packs/*
!data-packs/starter/

# Ignore all files in keys/
keys/*

# Ignore all files in patches/ except for specific ones
patches/*
!patches/kukla-2.4.6-page-builder-fix.patch
!patches/kukla-b2b-customer-attributes-fix.patch
!patches/kukla-update-image-gallery-display.patch

# Ignore .DS_Store files in user/ and its subdirectories
**/.DS_Store